<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Efficient Grocery Management System</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('place_order') }}">Place Order</a>
            <a href="{{ url_for('list_orders') }}">Orders</a>
        </nav>
    </header>
    <main>
        <h2>Welcome to the Smart Store Management System</h2>
        <h4><i>"Automating Inventory, Sales, and Order Processes with Precision."</h4>
       
    </main>
</body>
</html>
